<!--  obj is a chatroom -->
<div class="chatbox_chat" id="chat<%=obj.id%>" onclick="chatbox_chat_clicked(this)">

  <!-- CHATROOM NAME -->
  <div class="chatbox_chat_name">
    <%= obj.name %>
  </div>
  <div class="chatbox_chat_users">
    <!-- USERS IMAGE -->
    <div class="chatbox_chat_users_image">
    </div>

    <!-- NUM USERS -->
    <div class="chatbox_chat_num_users">
      <%= obj.users.count - 1 %>
    </div>
  </div>

  <div class="eye_inspector" id="eye_inspector_<%=obj.id%>" title="Show on map"
    onclick="event.stopPropagation(); locate_chatroom_on_map(<%=obj.id%>)">
  </div>
</div>
