<!-- <button class="collapse_chat_btn" style="display: none;" onclick="openChat(this)"><%=@chatroom.users[1].username%></button> -->

<div class="collapse_chat_container">
  <button class="collapse_chat_togggle_open" onclick="open_chat(this)">
    <%=@dest_user.username%>
  </button>
  <button class="collapse_chat_close" onclick="close_chat(this.parentElement.parentElement)">X</button>
</div>

<div class="one_chat_open">
  <div class="messages_header">
    <button class="close_chat_btn" onclick="close_chat(this.parentElement.parentElement.parentElement)">X</button>
    <button class="toggle_chat_btn" onclick="toggle_chat(this)">-</button>
    <p class="messages_header_username" onclick="go_to_user(<%= @dest_user.id%>)">
      <%= @dest_user.username %>
    </p>
  </div>

  <div class="messages_container" id="messages_container_<%= @chatroom.id %>">
    <% @messages.each do |message|%>
      <%= render message %>
    <% end %>
  </div>
  <div class="new_messages_container">
    <%= form_for [@chatroom, Message.new], remote: true, :html => {:id => "new_message_#{@chatroom.id}"} do |f| %>
      <%= f.text_field :body, rows: 1, class:"form-control", :html => {:id => "message_field"}%>
    <% end %>
  </div>
</div>

<!-- <% 1.upto(100) do %>
  <div><strong><%= @chatroom.users[1].username %>:</strong>Hello world!</div>
<% end %> -->
